{% extends "base.html" %}

{% block title %}Shiitake - Mushkin{% endblock %}

{% block content %}
<h1 class="title">Shiitake</h1>
<ul class="breadcrumbs">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li class="divider">/</li>
    <li><a href="{{ url_for('index') }}">Dashboard</a></li>
    <li class="divider">/</li>
    <li><a href="{{ url_for('mushroom_gallery', mushroom_type='white_oyster') }}" class="active">Shiitake</a></li>
</ul>

<div class="info-data">
    <div class="card">
        <div class="head">
            <div>
                <h2><span id="temperature-shiitake">N/A</span></h2>
                <p>Temperature</p>
            </div>
            <div class="tooltip">
                <i class='bx bxs-thermometer icon'></i>
                <span class="tooltiptext">Optimal: 18-24°C</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div>
                <h2><span id="humidity-shiitake">N/A</span></h2>
                <p>Humidity</p>
            </div>
            <div class="tooltip">
                <i class='bx bx-droplet icon'></i>
                <span class="tooltiptext">Optimal: 80-90%</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div>
                <h2><span id="soilMoisture-shiitake">N/A</span></h2>
                <p>Soil Moisture</p>
            </div>
            <div class="tooltip">
                <i class='bx bx-water icon'></i>
                <span class="tooltiptext">Optimal: 60-75%</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div>
                <h2><span id="lightIntensity-shiitake">N/A</span></h2>
                <p>Light Intensity</p>
            </div>
            <div class="tooltip">
                <i class='bx bx-bulb icon'></i>
                <span class="tooltiptext">Optimal: 500-1000 lux</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div>
                <h2><span id="ECO2-shiitake">N/A</span></h2>
                <p>CO2</p>
            </div>
            <div class="tooltip">
                <i class='bx bx-wind icon'></i>
                <span class="tooltiptext">Optimal: Below 1000 ppm</span>
            </div>
        </div>
    </div>
</div>            

<!-- Button to redirect to Google Drive folder -->
<div class="control-parameter">
    <div class="charts-card">
        <h3>Shiitake Mushroom Gallery</h3>
        <a href="{{ drive_url }}" target="_blank">
            <button class="gdriveButton">Go to Image Gallery</button>
        </a>
    </div>
</div>

<div class="control-parameter">
    <div class="charts-card">
        <section id="historical-data">
            <div>
                <h3>Historical Data Chart</h3>
                <canvas id="shiitakeChart" class="responsive-chart" width="600" height="400"></canvas>
            </div>
        </section>
    </div>
</div> 

{% endblock %}
